html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#menu {
    background: #fff;
    margin: 0px auto;
    padding: 100px;
    box-sizing: border-box;
    height: 100vh;
    text-align: center;
}

#menu h1 {
    font-weight: normal;
}

#menu button {
    padding: 10px 15px;
    font-size: inherit;
    background: #00aac4;
    border: 0;
    color: #fff;
    border-radius: 99999px;
    font-weight: bold;
    display: block;
    box-sizing: border-box;
    width: 200px;
    margin: 20px auto;
    box-shadow: 0 7px #008599;
}

#menu button.back {
    filter: hue-rotate(-190deg)
}

#menu button:active {
    transform: translateY(4px);
    box-shadow: 0 3px #008599;
}